@font-face {
  font-family: "Nunito Sans Local";
  src: url("../assets/fonts/nunito-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Local";
  src: url("../assets/fonts/nunito-sans-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Local";
  src: url("../assets/fonts/nunito-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Local";
  src: url("../assets/fonts/nunito-sans-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
